<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 metadata-complete="true">
	<servlet>
		<servlet-name>api</servlet-name>
		<servlet-class>com.rest4j.servlet.APIServlet</servlet-class>
		<init-param>
			<param-name>pathPrefix</param-name>
			<param-value>/api/v2</param-value>
		</init-param>
		<init-param>
			<param-name>apiDescriptionXml</param-name>
			<param-value>src/test/resources/com/rest4j/impl/petapi.xml</param-value>
		</init-param>
		<init-param>
			<param-name>serviceProviderClass</param-name>
			<param-value>com.rest4j.servlet.TestServiceProvider</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>api</servlet-name>
		<url-pattern>/api/v2/*</url-pattern>
	</servlet-mapping>
</web-app>